@use 'mixins.scss' as *;
@use 'variables.scss' as vars;

:host {
  @include all-colors(vars.$pallete);
}

.container {
  width: 80vh;
  height: 80vh;
  border: 1px dotted black;
  resize: both;
  overflow: auto;
}

.ex {
  width: 100%;
  height: 100%;
}