<div class="container">
  <div class="ex ex-2">
    <div class="zone zone-1">
      <ul class="color-list" *ngFor="let colorSahdes of colors | keyvalue">
        <li class="square" *ngFor="let color of colorSahdes.value" [style.background-color]="color">
        </li>
      </ul>
    </div>
    <div class="zone zone-2">
      <ul class="color-list" *ngFor="let colorSahdes of colors | keyvalue">
        <li class="square" *ngFor="let color of colorSahdes.value" [style.background-color]="color">
        </li>
      </ul>
    </div>
    <div class="zone zone-3">
      <ul class="color-list" *ngFor="let colorList of colors | keyvalue">
        <li class="rectengle" *ngFor="let color of colorList.value" [style.background-color]="color">
        </li>
      </ul>
    </div>
    <div class="zone zone-4">
      <ul class="color-list" *ngFor="let colorList of colors | keyvalue">
        <li [ngClass]="{'small-square' : !first}" class="square big-square"
          *ngFor="let color of colorList.value ; let first = first" [style.background-color]="color">
        </li>
      </ul>
    </div>
  </div>
  <div class="ex ex-3" [attr.message]="typingText">
  </div>
  <div class="ex ex-4" style="--typingObs: {{typingObs$ | async}}">
    {{typingText}}
  </div>
</div>